
//color classes
.app-color {
  color: $app-color !important;
}

.bg-app-color {
  background-color: $app-color !important;
}

.app-green-color {
  color: $app_green;
}
.bg-app-green-color {
  background-color: $app_green;
}
.whitesmoke-bg {
  background-color: $whitesmoke;
}
.bg-white {
  background-color: $white !important;
}