/* password strength begin here*/

.t_strength_meter {
  position: absolute;
  height: 5px;
  bottom: -5px;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  div {
    width: 0;
    height: 34px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    p {
      position: absolute;
      right: 10px;
      color: #4d4d4d;
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
/*that's it folks! password strength ends!*/