//colors

$app-color                :                          #1aafe7;
$base-text-color          :                          #212121;
$white                    :                          #ffffff;
$black                    :                          #000000;
$red                      :                          #ff0000;
$notes_background         :                          #F6F6F6;
$stepper_green            :                          #96c03d;
$app_green                :                          #96c03d;
$whitesmoke               :                          #f5f5f5;



// Body
$body-bg: $white;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;